.navigation {
    border-bottom: 1px solid #496959;
    line-height: 2;
}

.navigation__list {
    padding-left: 0;
    list-style-type: none;
}

.navigation__item {
    margin: 5px;
}

.navigation__link {
    text-decoration: none;
    color:hsl(201, 100%, 30%);
    font-weight: 700;
    padding: 5px 0;
}
.navigation__link:visited{
    color: #007ec1;
}
.navigation__link:focus{
    outline: 2px solid hsla(201, 100%, 38%, 0.678);
}
.navigation__link:hover{
    outline: none;
    border-bottom: 2px solid hsl(201, 100%, 50%) ;
}
